<div class="container">
	<div class="row">
		<div class="col-md-12">
			<textarea class="main" disabled="disabled" id="content">Create your own text pad to write stuff in.
Go to padder.herokuapps.com/YOUR_NAME</textarea>
		</div>
	</div>
</div>