<div class="container">
	<div class="row">
		<div class="col-md-12">
			<textarea id="content"><% if(@post.content) %><%= @post.content %><% end %></textarea>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$('#content').keyup(function(){
		$.post( "", { url: "<%= @post.url %>", content: $('#content').val() })
	});
})
</script>