<!DOCTYPE html>
<html>
<head>
  <title>Padder</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <style type="text/css">
  body{
  	background: black;
  	width: 95%;
  	margin: auto;
  	color: white;
  	font-size: 20px;
  }
  textarea{
  	margin-top: 50px;
  	border-radius: 4px;
  	padding: 15px;
  	font-family: 'Inconsolata', sans-serif;
  	width: 100%;
  	min-height: 400px;
  	border: 1px solid #62d9ef;
  	background: #222222;
  	color: #62d9ef;
  }
  </style>
</head>
<body>

<%= yield %>

<script type="text/javascript">
$('textarea').height($(window).height() - 100);
</script>
</body>
</html>
